<% @movies.each do |movie| %>
  <li class="list-group-item"><%= movie.title %>,
                              <%= movie.overview %>,
                              <%= movie.rating %>
  </li>
<% end %>
